.c{
    height: 100vh;
}
.c-bg{
    width: 20px;
    height: 100%;
    background: #59b256;
    position: absolute;
}
.c-wrapper{
    padding: 50px;
    display: flex;
}
.c-left{
    flex: 1;
}
.c-heading{
    display: flex;
    flex-direction: column;
}
.c-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-title{
    font-size: 60px;
    width: 80%;
}
.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0;
    width: 70%;
}
.c-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.c-desc{
    font-weight: 200px;
}
form{
    margin-right: 20px;
}
input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
}
textarea{
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
}
button{
    border: none;
    padding: 15px;
    background-color: #59b256;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.c-socialMedia ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2vw;
}
.c-socialMedia ul img {
   width: 5vw;
   height: 7vh;
}
@media screen and (max-width: 480px) {
    .c-wrapper{
        display: flex;
        flex-direction: column;
    }
}